In [1]:
import pandas as pd

In [13]:
df = pd.DataFrame(data={"x":[1,2,3], "y":[2,3,4]})
df.describe()

         x    y
count  3.0  3.0
mean   2.0  3.0
std    1.0  1.0
min    1.0  2.0
25%    1.5  2.5
50%    2.0  3.0
75%    2.5  3.5
max    3.0  4.0

In [16]:
df1 = df.copy()
df1['a'] = df.apply(lambda row: row.x + row.y, axis=1)

In [17]:
df1

   x  y  a
0  1  2  3
1  2  3  5
2  3  4  7